@font-face {
  font-family: 'TT-Commons-Pro-Expanded-Regular';
  src:
    url('../../fonts/tt-commons-pro-expanded/tt-commons-pro-expanded-regular.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'TT-Commons-Pro-Expanded-Normal';
  src:
    url('../../fonts/tt-commons-pro-expanded/tt-commons-pro-expanded-normal.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'TT-Commons-Pro-Expanded-Medium';
  src:
    url('../../fonts/tt-commons-pro-expanded/tt-commons-pro-expanded-medium.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'TT-Commons-Pro-Expanded-Light';
  src:
    url('../../fonts/tt-commons-pro-expanded/tt-commons-pro-expanded-light.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'TT-Commons-Pro-Expanded-DemiBold';
  src:
    url('../../fonts/tt-commons-pro-expanded/tt-commons-pro-expanded-demibold.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'TT-Commons-Pro-Expanded-Bold';
  src:
    url('../../fonts/tt-commons-pro-expanded/tt-commons-pro-expanded-bold.woff2') format('woff2');
  font-style: normal;
}