.link {
    position: relative;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.link-inline {
    display: inline;
}

.link:hover {
    opacity: 0.85;
}

.link:active {
    opacity: 0.7;
}

.link-color-1 {
    color: var(--color-1);
}

.link-color-2 {
    color: var(--color-2);
}

.link-color-3 {
    color: var(--color-3);
}

.link-color-4 {
    color: var(--color-4);
}

.link-color-5 {
    color: var(--color-5);
}

.link-color-6 {
    color: var(--color-6);
}

/* Базовые стили для элементов ссылки */
.link__item {
    display: inline-flex;
    align-items: center;
}

/* Стили для ссылок с подчеркиванием */
.link-underline .link__item:last-child {
    position: relative;
}

.link-underline .link__item:last-child:after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: currentColor;
    transition: width 0.3s ease;
}

.link-underline:hover .link__item:last-child:after {
    width: 100%;
}

.link__item.icon-wrap {
    position: relative;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: var(--transition-2);
    overflow: hidden;
}

.link-animated:hover .link__item.icon-wrap.animation-fly {
    background: var(--color-6);
}

.link-animated:hover .link__item.icon-wrap.animation-rotate-180 {
    background: var(--color-6);
}

.link-animated:hover .link__icon {
    opacity: 1;
}

.link-animated:hover .link__item.icon-wrap.animation-fly .link__icon {
    animation: fly 0.5s ease-out forwards;
}

.link-animated:hover .link__item.icon-wrap.animation-left-to-right .link__icon {
    animation: left-to-right 0.5s ease-out forwards;
}

.link-animated .link__item.icon-wrap.animation-rotate-180 .link__icon {
    transition: var(--transition-2);
}

.link-animated:hover .link__item.icon-wrap.animation-rotate-180 .link__icon {
    transform: rotate(180deg);
}

.link-animated .link__item.icon-wrap.icon-fade {
    opacity: 0;
}

.link-animated:hover .link__item.icon-wrap.icon-fade {
    opacity: 1;
}

.link .icon-absolute {
    position: absolute;
    left: -2.6rem;
}

/*
.link-icon {
    position: absolute;
    left: -2.5rem;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-6);
    height: 2rem;
    width: 2rem;
    fill: var(--color-1);
    border-radius: 50%;
}

.icon {
    width: .7rem;
    height: 1rem;
}*/

.link:hover .link-icon {
    fill: var(--color-3);
    transform: rotate(-45deg);
}