/* Base styles */
@import "base/animations.css";
@import "base/variables.css";
@import "base/fonts.css";
@import "base/links.css";
@import "base/buttons.css";
@import "base/grid.css";
@import "base/helpers.css";
@import "base/typography.css";
@import "base/mq.css";
@import "base/general.css";

/* Sections */
@import "sections/header.css";
@import "sections/footer.css";
@import "sections/burger-menu.css";
@import "sections/contacts.css";
@import "sections/content.css";
@import "sections/cookie-panel.css";
@import "sections/intro.css";

/* Components */
@import "components/accordion.css";
@import "components/analytics.css";
@import "components/blockquote.css";
@import "components/burger-icon.css";
@import "components/burger-menu.css";
@import "components/button.css";
@import "components/cover.css";
@import "components/custom-list.css";
@import "components/features-list.css";
@import "components/form-callback.css";
@import "components/glightbox-custom.css";
@import "components/heading.css";
@import "components/mini-table.css";
@import "components/numbered-list.css";
@import "components/slider.css";
@import "components/spoiler.css";

/* Pages */
@import "pages/404.css";
@import "pages/contacts.css";
@import "pages/index.css";
