.burger-icon {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-shrink: 0;
  z-index: var(--z-index-4);
}

.burger-icon__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.3rem;
  flex-shrink: 0;
  width: 3rem;
  height: 1.2rem;
}

.burger-icon__item {
  width: 100%;
  height: 0.2rem;
  background-color: var(--color-2);
}

.burger-icon__item {
  transition: .15s all ease-out;
}

.burger-icon.active .burger-icon__item:nth-child(1) {
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: rotate(30deg);
}

.burger-icon:hover .burger-icon__item:nth-child(2) {
  width: 100%;
}

.burger-icon.active .burger-icon__item:nth-child(2) {
  opacity: 0;
}

.burger-icon:hover .burger-icon__item:nth-child(3) {
  width: 100%;
}

.burger-icon.active .burger-icon__item:nth-child(3) {
  position: absolute;
  top: 50%;
  bottom: 50%;
  width: 100%;
  transform: rotate(-30deg);
}