.cover {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.cover__image {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  transition: all 0.3s ease;
}

.cover:hover img {
  transform: scale(1.025);
}

.cover__icon-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6rem;
  height: 6rem;
  padding: 1.75rem;
  transform: translate(-50%, -50%);
  border: 0.1rem solid var(--color-1);
  border-radius: 50%;
  z-index: 2;
  transition: all 0.3s ease;
}

.cover:hover .cover__icon-wrap {
  opacity: 0.9;
}