.features-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.features-list__item {
  padding: 1rem 0;
  font-size: 0.8em;
  color: var(--color-5);
  border-bottom: 1px solid var(--color-5);

  @media (--lg) {
    padding: 1.25rem 0;
  }
}