.footer {
  position: relative;
}

.footer .section__item.background-wrap {
  position: absolute;
  right: 0;
  width: 80%;
  height: 100%;
  bottom: 0;
  z-index: -1;

  @media (--lg) {
    bottom: -2rem;
    width: 40%;
    height: 100%;
  }
}

.footer .background {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: bottom right;
  background-repeat: no-repeat;
}

.footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "logo contacts"
    "social social"
    "address address"
    "rules rules";
  gap: 2rem;

  @media (--lg) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "logo contacts"
      "address social"
      "rules rules";
  }
}

.footer .section__item.logo-wrap {
  grid-area: logo;
}

.footer .logo-wrap {
  display: block;
  width: 100%;
  max-width: 17rem;
}

.footer__logo {
  width: 100%;
}

.footer .section__item.contacts-wrap {
  grid-area: contacts;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;

  @media (--lg) {
    flex-direction: row;
    gap: 2rem;
  }
}

.footer .section__subitem.callback-wrap {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @media (--lg) {
    flex-direction: row;
    gap: 2rem;
  }
}

.footer .section__item.social-wrap {
  grid-area: social;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.6rem;

  @media (--sm) {
    gap: 2rem;
  }
}

.footer .section__item.addresses-wrap {
  grid-area: address;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.footer .address {
  font-size: 1em;

  @media (--lg) {
    font-size: 0.9em;
  }
}

.footer .section__item.rules-wrap {
  grid-area: rules;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @media (--lg) {
    width: calc(50% - 1rem);
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 0.5rem;
  }
}

.footer .policy-link {
  font-size: 0.8em;
}

.footer .blog-link {
  font-size: 0.8em;
}

.footer .section__item.copyright-wrap {
  max-width: 40rem;
}

.footer .copyright {
  display: inline-block;
  padding-top: 1rem;
  font-size: 0.9em;
  line-height: 1.1em;

  @media (--lg) {
    font-size: 0.8em;
  }
}