<div class="burger-icon" id="burgerIcon">
  <div class="burger-icon__container">
    <div class="burger-icon__item"></div>
    <div class="burger-icon__item"></div>
    <div class="burger-icon__item"></div>
  </div>
</div>